 @using System.Collections.Generic
@using System.Linq
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http
@model Accelerate.Features.Account.Models.Views.ManagePage
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var currentTab = Context.Request.Path.Value.Split('/').LastOrDefault();
}
<div class="container justify-center items-center mx-auto">
    
    <h4 class="w-full text-3xl font-bold">Manage profile</h4>

    @if (Model.UserStatus == Accelerate.Foundations.Users.Models.Entities.UsersUserStatus.Deactivated)
    {
        <div>
            <strong>
                This account is de-activated, re-active the account below to continue using it.
            </strong>
        </div>
    }
    <!--Feed-->
    <div class="relative w-full" x-init="{
            mxTab_tabButtons = $refs.tabButtons
            this._mxTab_setMarkerStyle(mxTab_tabButtons)
        }">
        <div x-data="aclTabsNavigation({
            items: @JsonSerializerHelper.SerializeObject(Model.Tabs),
            active: '@currentTab' 
        })"></div>
        <div class="relative w-full mt-2 content">
            <section>
                @RenderBody()
            </section>
        </div>
    </div>
   
</div>
   
