@using System.Collections.Generic
@using System.Linq
@using Accelerate.Features.Content.Models.Views
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http
@using Accelerate.Foundations.Content.Models.Data
@model ContentFeedPage
@{
    Layout = "/Views/Shared/_ContentPageLayout.cshtml";
}
<div class="w-full h-full container overflow-y-scroll">
    <!-- Channels panel -->
    <div x-data="aclTabsNavigation({
        items: [
            {
                text: 'Live',
                href: '/?t=tab1'
            },
            {
                text: 'Sorted',
                href: '/?t=tab2'
            },
        ],
        selected: 'new URLSearchParams(window.location.search).get('t'),'
    })"></div>
     
    <div x-data="aclTableSimple(@JsonSerializerHelper.SerializeObject(Model.Listing))"></div>
</div>
