@using System.Collections.Generic
@using System.Linq
@using Accelerate.Features.Content.Models.Views
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http
@using Accelerate.Foundations.Content.Models.Data
@model ContentFeedPage
@{
    Layout = "/Views/Shared/_ContentPageLayout.cshtml";
}
<div class="w-full h-full flex">
    <!-- Channels panel -->
    <div x-data="aclTabsNavigation({
        items: [
            {
                text: 'Live',
                href: '/?t=tab1'
            },
            {
                text: 'Sorted',
                href: '/?t=tab2'
            },
        ],
        selected: 'new URLSearchParams(window.location.search).get('t'),'
    })"></div>

    <!-- Filters
        {
            name: 'related.feedId',
            value: '@Model.Id'
        }
    -->
    <!--Feed-->
    <div class="flex w-full gap-2">

        <div class="flex-none h-full py-5 w-96 overflow-y-scroll ">

            <div x-data="aclSocialListFeedPosts( {
                    url: '@Model.PostsApiUrl',
                    params: {
                        filters: [
            
                        ],
                        itemsPerPage: 1,
                        page: 0,
                        query: null,
                        userId: '@Model.UserId'
                    },
                    mode: 'inline',
                    websockets: true,
                    searchOnInit: true,
                    menuItems: commentMenu,
                    actionItems: commentActions,
                })">
            </div>
        </div>

        <div class="flex-1 h-full py-5 border-neutral-100/70">
            <div x-data="aclSocialModalListChatPosts(@JsonSerializerHelper.SerializeObject(Model.ModalCreateReply))"></div>
        </div>
    </div>

</div>
