@using Microsoft.AspNetCore.Identity
@using Accelerate.Foundations.Common.Models
@using Accelerate.Foundations.Common.Helpers
@using Accelerate.Features.Account.Models.Entities;

@inject Microsoft.Extensions.Hosting.IHostEnvironment env
@inject UserManager<AccountUser> UserManager
@model Accelerate.Foundations.Common.Models.BasePage
@{
    var lang = Model.Metadata.LanguageCode ?? "en";
}
<!DOCTYPE html>
<html lang="@lang">
<head>
    @{
        if (Model.Metadata != null)
            await Html.RenderPartialAsync("~/Views/Shared/PageMetadata.cshtml", Model.Metadata);
        if (Model.SEO != null)
            await Html.RenderPartialAsync("~/Views/Shared/PageSeoMetadata.cshtml", Model.SEO);
        if (Model.SocialMetadata != null)
            await Html.RenderPartialAsync("~/Views/Shared/PageSocialMetadata.cshtml", Model.SocialMetadata);
    }
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS Libraries -->
    <!-- Classbased -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css" />
    <!-- Classless - centered viewport -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.classless.min.css" /> -->
    <!-- Classless - fluid viewport -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.fluid.classless.min.css" /> -->
    <!-- CSS Overrides -->
    <link rel="stylesheet" href="~/src/css/app.css" />
    <link rel="stylesheet" href="~/src/css/overrides.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- PWA -->
    <link rel="manifest" href="~/src/manifest.json" />
</head>

<body class="container">
    <!-- Header -->
    <div x-data="navbar(@JsonSerializerHelper.SerializeObject(Model.TopNavigation))"></div>
    <details class="dropdown">
        <summary role="button" class="secondary">Theme</summary>
        <ul>
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
    </details>

    @RenderBody() 
    <!-- ./ Main -->
    <!-- Footer -->
    <footer>
        <small>
            Built with <a href="https://picocss.com">Pico</a> •
            <a href="https://github.com/picocss/examples/blob/master/v2-html-classless/index.html">Source code</a>
        </small>
    </footer>
    <!-- ./ Footer -->
    <!-- Modal example -->
    <dialog id="modalExample">
        <article>
            <header>
                <button aria-label="Close" rel="prev" onclick="modalExample.close()"></button>
                <h3>Confirm your action!</h3>
            </header>
            <p>
                Cras sit amet maximus risus. Pellentesque sodales odio sit amet augue finibus
                pellentesque. Nullam finibus risus non semper euismod.
            </p>
            <footer>
                <button role="button" onclick="modalExample.close()">
                    Cancel
                </button><button autofocus role="button" onclick="modalExample.close()">Confirm</button>
            </footer>
        </article>
    </dialog>

    <!-- JS Libraries -->
    <!-- For componentizing and lazy loading Alpine -->
    <script type="module" src="~/src/js/init.js"></script>

    <!-- Minimal theme switcher -->
    <script src="~/src/js/minimal-theme-switcher.js"></script>

    <!-- DATA -->
    <script>
        let navData = {
            title: 'markdown.web',
            links: [
                {
                    href: '#',
                    text: 'about'
                },
                {
                    href: '#',
                    text: 'contact'
                },
                {
                    href: '#',
                    text: 'blog'
                }
            ]
        }
        let headerData = {
            title: 'markdown.web',
            subtitle: 'A tiny front-end library to build simple sites',
            text: 'Total project size is < 20kb gzipped'
        }
    </script>
</body>
</html>