@model Accelerate.Foundations.Common.Models.Views.NavigationBar

<!-- Header -->
@if (Model.Authenticated)
{
    <div x-data="usernavbar(@JsonSerializerHelper.SerializeObject(Model))"></div>
}
else
{
    <div x-data="navbar(@JsonSerializerHelper.SerializeObject(Model))"></div>
}