@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http 
@model BasePage


<script>
    const tabs = [
        "feeds",
        "about",
        "profile",
        "login",
        "register",
        "error",
        "sandbox"
    ]
</script>

<div x-data>
    <template x-for="tab in tabs" x-init="$store.tabs.setTab(tabs[0])">
        <button @@click="$store.tabs.setTab(tab)" x-text="tab"></button>
    </template>
    <main x-transition x-show="'feeds' == $store.tabs.current">
        <div x-ref="feeds" x-data="_html('feeds', `/src/view/pages/feeds.html`)"></div>
    </main>
    <main x-transition x-show="'about' == $store.tabs.current">
        <div x-ref="about" x-data="_html('about', `/src/view/pages/about.html`)"></div>
    </main>
    <main x-transition x-show="'profile' == $store.tabs.current">
        <div x-ref="profile" x-data="_html('profile', `/src/view/pages/profile.html`)"></div>
    </main>
    <main x-transition x-show="'register' == $store.tabs.current">
        <div x-ref="register" x-data="_html('register', `/src/view/pages/register.html`)"></div>
    </main>
    <main x-transition x-show="'login' == $store.tabs.current">
        <div x-ref="login" x-data="_html('login', `/src/view/pages/login.html`)"></div>
    </main>
    <main x-transition x-show="'error' == $store.tabs.current">
        <div x-ref="error" x-data="_html('error', `/src/view/pages/error.html`)"></div>
    </main>
    <main x-transition x-show="'sandbox' == $store.tabs.current">
        <div x-ref="sandbox" x-data="_html('sandbox', `/src/view/pages/sandbox.html`)"></div>
    </main>
</div>