@model BasePage
@{
    ViewData["Title"] = "About";
}

<!-- Preview -->
<section id="preview">
    <h2>Parot</h2>
    <h5>Like Twitter but in realtime</h5>
    <p>
        We like Twitter. However it is almost 20 years old and starting to feel its age. There are some core problems we feel it is facing, such as:
    </p>
    <ul>
        <li>No downvoting</li>
        <li>Poor discussions</li>
        <li>Limited community moderation</li>
        <li>It's a bot haven</li>
    </ul>
</section>
<!-- ./ Preview -->
<!-- Typography-->
<section id="typography">
    <h2>So why Parot?</h2>
    <p>
        We want a community driven, real-time and balanced short-form posting platform. Where new and unique content is promoted over recycled memes, replies are more than spam and everything happens immediately.
    </p>

    <!-- Lists-->
    <h3>How will we achieve this</h3>
    <ul>
        <li>We want to give users choice.</li>
        <li>We make creating and consuming content easy, fast and simple.</li>
        <li>We make it all real-time, no more page reloads.</li>
        <li>We implement a Reddit-based voting system.</li>
        <li>We allow the community to label and manage content.</li>
        <li>We allow the community to control how users can respond.</li>
        <li>We limit bots and give users control over flagging bot generated content.</li>
        <li>We want to make it free.</li>
    </ul>

    <h2>Key features</h2>
    <h4>🔶 Real-Time Discussions</h4>
    <p>
        Everything is live, but everything can be filtered. You can create threads which themselves are chats however you can control who you are talking to by filtering all conversations by the topic and criteria.
    </p>

    <h4>🔶 Dynamic Voting System</h4>
    <p>
        Likes need dislikes, upvotes need downvotes. Balance requires both parts to prevent creating an echochamber and enabling the community to help prevent misleading information.
    </p>

    <h4>🔶 Reply control</h4>
    <p>
        Character limits should be variable and determined by the topic creator. A serious topic creator does not want to be spammed with GIFs and vice versa. 
    </p>

    <h4>🔶 Rich-text editing</h4>
    <p>
        Plain text is not enough, quoting, bold, italics and code blocks help users quickly and easily digest information.
    </p>

    <h4>🔶 Multi-quote</h4>
    <p>
        Structure can take many forms, replies provide simple hierachy to conversations. But sometimes you need to respond to more than one person. Quoting should not be a 1:1 relationship.
    </p>

</section>

<section>
    <h2>This sounds like a lot..</h2>
    <p>Everything is optional, users can post on Parot like they do on Twitter, Threads, BlueSky or Mastodon. However you have the option of a little bit more with Parot. We always want to give the users control over the content they create and consume, we simply provide the guiderails as optional.</p>   
</section>
<!-- ./ Typography-->
<!-- Form elements-->
<section id="form">
</section>
<!-- ./ Form elements-->
<!-- Accordions -->
<section id="accordions">
    <h2>FAQ</h2>
    <details open>
        <summary><strong>Why 'parot'?</strong></summary>
        <p>
            We loved where Twitter was going. But feel it is moving in the wrong direction.
        </p>
    </details>
    <details open>
        <summary><strong>Real time conversation are hard to keep up with.</strong></summary>
        <p>
            Users can focus on the conversations they engage with through context filters, hiding all non-active conversations while engaged, but allowing users to switch in and out of their contexts quickly and easily.
        </p>
    </details>
    <details open>
        <summary><strong>Is there only a single feed?</strong></summary>
        <p>
            We break 'feeds' into channels. Users can browse the global channel, or create a new channel to organise or filter the content they want to see.
        </p>
    </details>
    <details open>
        <summary><strong>Why Parot over Threads/BlueSky?</strong></summary>
        <p>
            Our objective is to build a new communication tool that is different to what we have today. These apps are nice, but very similar to Twitter.
        </p>
    </details>
</section>