@model BasePage
@{
    ViewData["Title"] = "About";
}

<!-- Preview -->
<section id="preview">
    <h2>Parot</h2>
    <h5>Distribute your own 'StackOverflow'</h5>
    <b>
        Embed your own real-time chat widget on any site or app to create StackOverflow like discussions for any topic
    </b>
    <ul>
        <li>Real-time updates and chat capabilities</li>
        <li>Comment voting and rankings</li>
        <li>Rich text editing, mentions, quoting, and more</li>
        <li>Built-in post control and moderation capabilities </li>
        <li>Webhooks and APIs to get data into your own system</li>
    </ul>
</section>
<!-- ./ Preview -->
<!-- Typography-->
<section id="typography">
    <h2>So What is Parot?</h2>
    <p>
        Parot allows anyone to build a community into any site or app by simply adding in a parot element. Like embedding your own StackOverflow on a business, product or content page.
    </p>

    <!-- Lists-->
    <h3>How it works</h3>
    <ul>
        <li>Simple create a post on Parot.app for a discussion on a particular topic like Twitter, or a channel for multiple topics.</li>
        <li>Apply controls to your post and channel to restrict how users can respond, the word count, type of content (videos, images, rich text) and more.</li>
        <li>Embed our widget onto your site with the topic ID as a parameter.</li>
        <li>Immediately have a forum with real-time updates, moderation and your community embedded onto any site or app.</li>
    </ul>

    <h2>Features</h2>
    <h4>🔶 Real-Time Discussions</h4>
    <p>
        Everything is real-time and live, just like Slack.
    </p>

    <h4>🔶 Dynamic Voting System</h4>
    <p>
        WIth upvoting and downvoting you community can promote the relevant content and hide what isn't important.
    </p>

    <h4>🔶 Reply control</h4>
    <p>
        When posting, choose how users can respond, how many characters, whether images and videos are available. How many levels of replies are allowed.
    </p>

    <h4>🔶 Rich-text editing</h4>
    <p>
        Allow users to post code, add links, quote or mention users in posts and more.
    </p>

    <!-- Lists-->
    <h3>Why</h3>
    <ul>
        <li>Community is important, but buulding the tools to enable this is not. Businesses and developers should spend time on their domain and not waste it managing content.</li>
        <li>Social media aggregates content into a single platform, which you don't own or control. Parot allows you to distribute your community into your app or site.</li>
        <li>Knowledgebases are important and critical but managing the content to keep it up to date is difficult. Outsource this to your community to keep topics relevant and up to down</li>
        <li>Embed this across different pages for topics specific to that product or page, or embed a channel on your site to allow users to discuss multiple topics</li>
    </ul>
</section>

<section>
    <h2>Our vision</h2>
    <p>By distributing chat capabilities across businesses we want to enable a system like StackOverflow for any business, community or topic. Allowing users to to keep information up to date and relevant. The more relevant a users post is, the higher score it will be.
        The higher score they get, the more revenue they generate.</p>   
</section>
<!-- ./ Typography-->
<!-- Form elements-->
<section id="form">
</section>
<!-- ./ Form elements-->
<!-- Accordions -->
<section id="accordions">
    <h2>FAQ</h2>
    <details open>
        <summary><strong>How do users benefit?</strong></summary>
        <p>
             StackOverflow had a great system where users that create relevant contributions and scored highly. But this score is restricted to StackOverflow. We want users to be able to generate revenue from their score and to allow them to improve content for multiple topics, whether it's for business or education.
        </p>
    </details>
    <details open>
        <summary><strong>How do businesses benefit.</strong></summary>
        <p>
            Businesses can outsource the content updates to the wider community to continue to post, update and ensure information is relevant and accurate.
        </p>
    </details>
</section>