@using System.Collections.Generic
@using System.Linq
@using Accelerate.Features.Content.Models.Views
@using Accelerate.Foundations.Common.Helpers
@using Microsoft.AspNetCore.Http 
@model FeedPage

<div class="grid">
    <!-- Feed panel -->
    <div>
        <nav>
            <ul>
                <header>
                    <hgroup>
                        <h1>Your feeds</h1>
                        <p>Create a new feed</p>
                    </hgroup>
                </header>
            </ul>
            <ul>
                <!--Filters-->
                <details class="dropdown">
                    <summary role="button" class="outline" x-text="$store.feedFilters.current">
                    </summary>
                    <ul>
                        <template x-for="tab in $store.feedFilters.items">
                            <button class="flat" @@click="$store.feedFilters.setTab(tab)" :class="$store.feedFilters.current == tab ? 'selected' : ''" x-text="tab"></button>
                        </template>
                    </ul>
                </details>
                <button class="material-icons flat">add</button>
            </ul>
        </nav>
        <article>
            <div x-data="formAjax(@JsonSerializerHelper.SerializeObject(Model.FormCreateReply))"></div>
        </article>
        <!--Feed-->
        <div >
            <div x-data="appList({
                    feed: $store.feedFilters.current,
                    sourceUrl: 'https://localhost:7220/api/contentpost',
                    searchUrl: 'https://localhost:7220/api/contentsearch',
                    threadUrl: 'https://localhost:7220/content/thread',
                    event: 'post:created',
                    userId: '@Model.UserId',
                    items: [],
                    channel: 'all',
                  })"
                 x-watch="this.$watch(this.$store.feedFilters.current, value => console.log(value))"></div>
        </div>
    </div>
</div>

<!-- Modals -->
<!-- Edit post -->
<!-- Delete post -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalEditReply))"></div>

<!-- Delete post -->
<div x-data="modalForm(@JsonSerializerHelper.SerializeObject(Model.ModalDeleteReply))"></div>

<!-- Share post -->
<div x-data="modal({target: 'modal-share-post', title: 'Share post', text: 'test 123'  })"></div>
